[submodule "ext/safestringlib"]
	path = ext/safestringlib
	url = https://github.com/intel/safestringlib.git
[submodule "ext/sse2neon"]
	path = ext/sse2neon
	url = https://github.com/DLTcollab/sse2neon
